# ONLY IF NO IAM ROLE
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

AWS_REGION=us-east-1
S3_BUCKET_NAME=your-resume-bucket-name

MONGO_URL=mongodb://user:password@localhost:port
DATABASE_NAME=resume_extraction

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password