<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Information Extraction</title>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    
</head>
<body>

<div class="container">
    <h1> Resume Information Extraction</h1>

    <div class="upload-box" id="dropZone">
        <p id="fileNameDisplay">cv اضغط لاختيار ملف   </p>
        <input type="file" id="fileInput" hidden accept=".pdf,.txt">
    </div>

    <button id="extractBtn" onclick="extractData()">Extract Information</button>

    <div class="result">
        <h2>Extracted Data</h2>
        <div class="card"><strong>Name:</strong> <span id="name"></span></div>
        <div class="card"><strong>Email:</strong> <span id="email"></span></div>
        <div class="card"><strong>Skills:</strong> <span id="skills"></span></div>
        <div class="card"><strong>Education:</strong> <span id="education"></span></div>
    </div>
</div>
 <div class="container">
        <a href="/view-resumes" class="back-btn"> all resumes </a>
    </div>
<script src="{{ url_for('static', path='/js/main.js') }}"></script>
</body>
</html>